@use "./utils/base";
@use "./utils/container";
@use "./utils/variables";

@use "./components/about";
@use "./components/contacts";
@use "./components/footer";
@use "./components/header";
@use "./components/hero";
@use "./components/portfolio";