@use "./variables" as *;

* {
  margin: 0;
  padding: 0;
  font-family: $font-family;
  transition: background-color 0.3s ease, color 0.3s ease;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: $background-color;
}
