$font-family: "DM Sans", sans-serif;

$background-color: #171717;
$elements-background-color: #27ae60;
$elements-color: #fff;
$main-text-color: #fff;
$secondary-text-color: #4f4f4f;
$nav-text-color: #fff;
$learn-more-button-text-color: white;
$portfolio-cards-bg-color: #4f4f4f;
$about-image-bg-circle: #212121;
$portfolio-li-more-title-text: #132238;
$portfolio-li-more-description-text: #556070;
$portfolio-li-more-button: white;
$contacts-form-label-text-bg: #171717;
$contacts-form-label-border: white;
